* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

/*-- navbar section --*/
#navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    height: 60px;
}

#navbar ul {
    display: flex;
    gap: 30px;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.nav-buttons-container {
    display: flex;
    gap: 54px;
    align-items: center;
}

#currency {
    font-size: 13px;
    padding: 5px;
}

.nav-buttons {
    display: flex;
    gap: 23px;
}

/*-- Hero Section --*/
#hero {
    height: 85vh;
    background-image: url('./images/bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero div {
    height: 85vh;
    color: #fff;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#hero div>span {
    padding-left: 51px;
    font-size: 48px;
}

/*-- Book your appointment section --*/
.appoint-container {
    display: flex;
    height: 86px;
    padding: 8px 0px 14px 0;
    align-items: center;
}

.appoint-container p {
    width: 50%;
    font-size: 18px;
    padding: 0px 56px;
}

.appoint-container div {
    width: 50%;
    display: flex;
    align-items: center;
}

.appoint-container div button {
    padding: 20px 23px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 0;
    transition: all .3s;
}

.appoint-container div button:hover {
    background-color: rgb(21, 21, 21);
}

/*-- How it Works section --*/
#work-flow {
    padding: 37px;
    background-color: rgba(241, 241, 241, 1);
    color: #383838;
    height: 230px;
}

#work-flow>* {
    padding: 16px;
}

#work-flow>h2 {
    font-size: 26px;
}

.work-flow-container {
    display: flex;
}

.work-flow-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.work-flow-cards>p {
    font-size: 24px;
}

.work-flow-cards>div {
    height: 1px;
    width: 75%;
}

.work-flow-cards>span {
    font-size: 19px;
    padding-right: 89px;
}

.work-flow-cards>span>a {
    color: #383838;
}

/*-- online collection section --*/
#collection {
    padding: 80px 27px 60px 27px;
}

#collection h1{
    margin-bottom: 9px;
    font-size: 29px;
    font-family:'Times New Roman', Times, serif ;
}

#collection .line{
    margin-bottom: 25px;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.collection-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collection-cards img {
    width: 287px;
    height: 333px;
}

.collection-cards p {
    font-size: large;
}