* {
    padding: 0;
    margin: 0;
}

/* navbar section */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navbar ul {
    display: flex;
    gap: 30px;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.nav-buttons-container {
    display: flex;
    gap: 54px;
    align-items: center;
}

.nav-buttons {
    display: flex;
    gap: 33px;
}