* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

/*-- navbar section --*/
#navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    height: 60px;
}

#navbar ul {
    display: flex;
    gap: 30px;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.nav-buttons-container {
    display: flex;
    gap: 54px;
    align-items: center;
}

#currency {
    font-size: 13px;
    padding: 5px;
}

.nav-buttons {
    display: flex;
    gap: 23px;
}

/*-- Hero Section --*/
#hero {
    height: 85vh;
    background-image: url('./images/bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero div {
    height: 85vh;
    color: #fff;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#hero div>span {
    padding-left: 51px;
    font-size: 48px;
}

/*-- Book your appointment section --*/
.appoint-container {
    display: flex;
    height: 86px;
    padding: 8px 0px 14px 0;
    align-items: center;
}

.appoint-container p {
    width: 50%;
    font-size: 18px;
    padding: 0px 56px;
}

.appoint-container div {
    width: 50%;
    display: flex;
    align-items: center;
}

.appoint-container div button {
    padding: 20px 23px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 0;
    transition: all .3s;
    cursor: pointer;
}

.appoint-container div button:hover {
    background-color: rgb(35, 34, 34);
}

/*-- How it Works section --*/
#work-flow {
    padding: 37px;
    background-color: rgba(241, 241, 241, 1);
    color: #383838;
    height: 230px;
}

#work-flow>* {
    padding: 16px;
}

#work-flow>h2 {
    font-size: 26px;
}

.work-flow-container {
    display: flex;
}

.work-flow-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.work-flow-cards>p {
    font-size: 24px;
}

.work-flow-cards>div {
    height: 1px;
    width: 75%;
}

.work-flow-cards>span {
    font-size: 19px;
    padding-right: 89px;
}

.work-flow-cards>span>a {
    color: #383838;
}

/*-- online collection section --*/
#collection {
    padding: 80px 27px 60px 27px;
}

#collection h1{
    margin-bottom: 9px;
    font-size: 29px;
    font-family:'Times New Roman', Times, serif ;
}

#collection .line{
    margin-bottom: 25px;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.collection-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.collection-cards img {
    width: 286px;
    height: 381px;
}

.collection-cards p {
    font-size: large;
}

/*-- promotion Section --*/
#promotion{
    background-color: rgba(241, 241, 241, 1);
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 77px;
    color: #383838;
}

#promotion div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: #383838;
}

#promotion div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: #383838;
    font-size: 18px;
    font-weight: bold;
}

#promotion div:nth-child(4) {
    color: #383838;
    font-size: 16px;
}

/*-- new collection section --*/
#new-collection{
    height: 70vh;
    background-image: url('./images/newcolection.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.new-collection-container{
    position: absolute;
    top: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 50%;
    height: 90%;
    padding: 16px;
}

.new-collection-container > span:nth-child(1){
    font-size:23px ;
}

.new-collection-container > span:nth-of-type(2) {
    font-size: 21px;
}

.new-collection-container > button{
  width: 218px;
  padding: 17px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: rgba(164, 147, 147, 0);
  border: 1px solid white;
  border-radius: 6px;
  transition: all .3s;
  cursor: pointer;
}

.new-collection-container > button:hover{
    background-color: white;
    color: black;
}

